/* Prussian blue background! */
body {
  background-color: #003153;
}

.pCV {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.15;
}

@media(min-width:768px) {
  .pCV {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 1.15;
  }
}

.h3CV {
  margin: 20px 0 15px;
}

.pTight {
  margin: 0 0 0px;
  font-size: 18px;
  line-height: 1.15;
}

@media(min-width:768px) {
  .pTight {
    margin: 0 0 0px;
    font-size: 20px;
    line-height: 1.15;
  }
}

/* Spacing between the navbar and page header. */
@media (max-width: 768px) {
  .content-section {
    padding-top: 80px;
  }
}
@media (min-width: 768px) {
  .content-section {
    padding-top: 125px;
  }
}
@media (min-width: 991px) {
  .content-section {
    padding-top: 100px;
  }
}

/* Blending buttons into my page. */
.btn-default {
  border: 0;
  color: inherit;
}
.btn {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.btn-default:hover, .btn-default:focus {
  border: 0;
  color: rgba(255, 255, 255, .8);
  background-color: transparent;
}
.btn-lg {
  border: 0;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
}
.btn-lg:hover, .btn-lg:focus {
  border: 0;
  outline: 0;
  color: rgba(255, 255, 255, .8);
  background-color: transparent;
}

/* Vertically centering dropdown menu button for large screens. */
@media (min-width: 768px) {
  .dropdown-toggle {
    position: relative;
    top: 50%;
    transform: translateY(+25%);
  }
}

/* Further fixing the dropdown button menu. */
.dropdown-toggle {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.btn-group .dropdown-toggle {
  background-color: transparent;
  color: rgba(255, 255, 255, 1)
  -webkit-box-shadow: none;
          box-shadow: none;
  /*-webkit-transition: none;
       -o-transition: none;
          transition: none;*/
}

.btn-group.open .dropdown-toggle {
  background-color: transparent;
  color: rgba(255, 255, 255, .8);
  -webkit-box-shadow: none;
          box-shadow: none;
  /*-webkit-transition: none;
       -o-transition: none;
          transition: none;*/
}

.dropdown-toggle:hover, .dropdown-toggle:focus {
  border: 0;
  color: rgba(255, 255, 255, .8);
  background-color: transparent;
}

@media (max-width: 767px) {
  .dropdown-menu> li> a {
    color: #fff;
  }
}
@media (min-width: 768px) {
  .dropdown-menu> li> a {
    color: #000;
  }
}
.navbar-custom .nav .dropdown-menu li a:hover {
  color: rgba(1, 1, 1, .7);
}

.btn-default:active:hover,
.btn-default.active:hover,
.open> .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open> .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open> .dropdown-toggle.btn-default.focus {
  border: 0;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border-color: #fff;
}

/* Useful classes for the research page. */
.research-box {
  cursor: pointer;
}
.initially-hidden {
  display: none;
}
.research-navbar-btn-top {
  margin-top: -10px;
}
.research-navbar-btn {
  margin-top: 15px;
  margin-bottom: 5px;
}

.publication-box {
  margin-bottom: 15px;
}

/* Formatting gallery to look like the rest of the page. */
.ug-lightbox-numbers,
.ug-textpanel-title {

}
