body {
    background-color: #003153; /* Prussian blue! */
}

/*.btn-default {
    border: 0;
    color: inherit;
  	position: relative;
  	top: 50%;
	transform: translateY(+25%);
}*/

.btn-default:hover,
.btn-default:focus {
    border: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
    border: 0;
    color: rgba(255,255,255,.8);
	background-color: transparent;
}

.dropdown-menu > li > a {
	color: #000;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: rgba(0,0,0,.8);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: rgba(0,0,0,.8);
}

.btn-group {
    display: inline-block;
    vertical-align: middle;
    float: none;
}