body {
  font-size: 15pt;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  text-align: left;
}

.project-title {
  cursor: pointer;
}

.initially-hidden {
  display: none;
}

.text-justify {
  text-align: justify;
}

.tighter-list {
  padding-top: 0px;
}
