#video-outer-box {
	position: relative;	
}

#canvas-video-sphere {
	margin: auto;
}

#video {
	display: none;
	width: 800px;
	height: 600px;
}

#video-title {
	text-align: center;
}

#video-caption {
	text-align: center;
	display: none;
}

#left-arrow {
	position: absolute;
	top: 50%;
	left: 5%;
	cursor: pointer;
}

#right-arrow {
	position: absolute;
	top: 50%;
	left: 95%;
	cursor: pointer;
}

/*
 * dat.gui
 */

 .c div input {
	font-size: 100%;
  }