<h1>About Me</h1>
<p>
  I'm a Computing Scientist and Founding Engineer at <a href="https://www.atdepthmrv.com/" target="_blank">atdepth MRV</a> where I'm building the ocean modeling and GPU computing infrastructure needed to monitor ocean-based operations and enable verifiable marine carbon dioxide removal.
</p>
<p>
  Before joining atdepth I was an Applied Scientist at <a href="https://www.afresh.com/" target="_blank">Afresh</a> working on reducing food waste, a huge contributor to climate change, by using machine learning to help grocery stores optimize their inventory management and ordering decisions.
</p>
<p>
  Before that I received my PhD in Computational Earth, Atmospheric, and Planetary Sciences from MIT where I worked at the intersection of climate science and scientific machine learning. As part of the <a href="https://clima.caltech.edu/" target="_blank">Climate Modeling Alliance</a> I developed <a href="https://github.com/CliMA/Oceananigans.jl" target="_blank">Oceananigans.jl</a>, a fast and flexible next-generation ocean model written in Julia that runs on GPUs, and used it to train machine learning models of geophysical turbulence and simulate all kinds of fluid dynamics.
</p>
<p>
  And before that I received my MS and BS in Physics from the University of Waterloo where I used ultrashort pulse lasers and synchrotrons to make movies of molecular dynamics.
</p>
