<h2>Hi, I'm Ali!</h2>
<p>
  I am a graduate researcher at <a href="https://www.mit.edu/" target="_blank">MIT</a> working at the intersection of climate science, software engineering, and machine learning
  within the <a href="https://eapsweb.mit.edu/" target="_blank">Department of Earth, Atmospheric, and Planetary Sciences</a>
  and the <a href="https://cse.mit.edu/" target="_blank">Center for Computational Science and Engineering</a>.
</p>
<p>
  As part of the <a href="https://clima.caltech.edu/" target="_blank">Climate Modeling Alliance</a> I have developed <a href="https://github.com/CliMA/Oceananigans.jl" target="_blank">Oceananigans.jl</a>,
  a fast and friendly ocean model written in Julia that runs on CPUs and GPUs with one heterogenous code base. I have used Oceananigans to develop data-driven models of oceanic turbulence and to study fluid dynamics
  on Earth and other planets.
</p>
<p>
  You can play around with the sphere on the right to learn more about my research and Earth's climate!
</p>