<section id="blog" class="four">
  <div class="container">

    <div class="row center" style="text-align: center;">
      <div class="12u 12u(mobile)">
        <header>
          <h2>Blog</h2>
        </header>
      </div>
    </div>

    <div class="row" style="text-align:left;">
      <div class="3u 12u(mobile)"></div>
      <div class="6u 12u(mobile)">
        <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="3u 12u(mobile)"></div>
    </div>
    
  </div>
</section>
