<section id="publications" class="four">
  <div class="container">

    <div class="row center" style="text-align: center;">
      <div class="12u 12u(mobile)">
        <header>
          <h2>Publications</h2>
        </header>
      </div>
    </div>

    <ol reversed class="indented-list">
      {% for publication in site.data.publications %}
        <li id="{{ publication.id }}">
          <b>{{ publication.title }}</b><br>
          {% for author in publication.authors %}
            {% if author == "A. Ramadhan" %}
              <u>{{ author }}</u>{% unless forloop.last %}, {% endunless %}
            {% else %}
              {{ author }}{% unless forloop.last %}, {% endunless %}
            {% endif %}
          {% endfor %}
          <br>
          {% case publication.status %}
            {% when "published" %}
              <i>{{ publication.journal }}</i>
              {% if publication.volume %}
                <b>{{ publication.volume }}</b>{% if publication.subvolume %}({{ publication.subvolume }}){% endif %},
              {% endif %}
              {{ publication.pages }}
              ({{ publication.year }}).
            {% when "submitted" %}
              Submitted to <i>{{ publication.journal }}</i> ({{ publication.year }}).
            {% when "arxiv" %}
              <i>{{ publication.arxiv }}</i> ({{ publication.year }}).
            {% when "thesis" %}
              <i>{{ publication.info }}</i> ({{ publication.year }}).
            {% else %}
          {% endcase %}
          {% for link in publication.links %}
            <a href="{{ link.url }}" target="_blank" class="button">{{ link.type }}</a>
          {% endfor %}
        </li>
      {% endfor %}
    </ol>
  </div>
</section>
