<h2>Resources</h2>

<h3>Climate and weather</h3>
<ul class="indented-list">
  <li>
    <a href="https://github.com/CliMA/Oceananigans.jl" target="_blank"><b>Oceananigans.jl</b></a
    >: Julia software for fast, friendly, flexible, ocean-flavored fluid dynamics on CPUs and GPUs.
  </li>

  <li>
    <a href="https://www.youtube.com/watch?v=kSbCYaB2KhQ" target="_blank"
      ><b>Fluid dynamics with Oceananigans.jl</b></a
    >: 10-minute YouTube introduction I gave as part of MIT's
    <a
      href="https://ocw.mit.edu/courses/18-s191-introduction-to-computational-thinking-fall-2020/"
      target="_blank"
      >Introduction to Computational Thinking</a
    >
    course in Fall 2020.
  </li>

  <li>
    <a href="https://www.youtube.com/watch?v=WGe-gYRSM7c" target="_blank"
      ><b> Mathematical diseases in climate models and how to cure them</b></a
    >: A talk I gave at the 36th Chaos Communication Congress (CCC) in Leipzig, Germany.
  </li>

  <li>
    <a href="https://github.com/ali-ramadhan/NeuralFreeConvection.jl" target="_blank"
      ><b>NeuralFreeConvection.jl</b></a
    >: Capturing missing physics in climate model parameterizations using neural differential
    equations.
  </li>

  <li>
    <a href="https://github.com/ali-ramadhan/Atmosfoolery.jl" target="_blank"
      ><b>Atmosfoolery.jl</b></a
    >: A proof-of-concept compressible non-hydrostatic atmospheric model dynamical core built on top
    of Oceananigans.jl so it runs on CPUs and GPUs, with several tests/validation experiments.
  </li>

  <li>
    <a href="https://github.com/ali-ramadhan/wxConch" target="_blank"><b>wxConch</b></a
    >: Generate a bias-corrected prediction gathered from multiple weather models in an attempt to
    outperform them at short-term weather prediction for a particular station.
  </li>

  <li>
    <a href="https://github.com/ali-ramadhan/lagrangian-microbes" target="_blank"
      ><b>Lagrangian microbes</b></a
    >: A framework for simulating millions of interacting Lagrangian particles (or microbes!) in a
    turbulent ocean. You can watch the dynamics on
    <a href="https://www.youtube.com/watch?v=evxhhAHxJPc" target="_blank">YouTube</a> or read a
    <a href="/assets/documents/reports/Lagrangian-microbes-mixing-induced-ecological-warfare.pdf" target="_blank"
      >report</a
    >
    for the details.
  </li>

  <li>
    <a href="/assets/documents/presentations/variational-inference-for-Dirichlet-process-mixtures.pdf" target="_blank"
      ><b>Variational inference for Dirchlet process mixtures</b></a
    >: Slides from a lecture I presented with Mikołaj Kasprzak as part of MIT's Bayesian Modeling
    and Inference course in Spring 2022.
  </li>

  <li>
    <a href="/assets/documents/reports/Gaussian-processes-for-machine-learning.pdf" target="_blank"
      ><b>Gaussian processes for machine learning</b></a
    >: Lecture notes written with Rahul Kasar as part of MIT's Bayesian Modeling and Inference
    course in Spring 2022.
  </li>

  <li>
    <a href="/assets/documents/reports/quantifying-climate-feedbacks-using-radiative-kernels.pdf" target="_blank"
      ><b>Quantifying climate feedbacks using radiative kernels</b></a
    >: Slides summarizing the methodology proposed by
    <a href="https://doi.org/10.1175/2007JCLI2110.1" target="_blank">Soden et al. (2008)</a> for
    quantifying climate feedbacks based on "radiative kernels".
  </li>
</ul>

<h3>Physics</h3>
<ul class="indented-list">
  <li>
    <a href="/assets/documents/presentations/jaynes-cummings-model.pdf" target="_blank"><b>Jaynes-Cummings Model</b></a
    >: Slides introducing the
    <a href="https://en.wikipedia.org/wiki/Jaynes%E2%80%93Cummings_model" target="_blank"
      >Jaynes-Cummings model</a
    >
    in quantum optics, with a step-by-step derivation.
  </li>

  <li>
    <a href="/assets/documents/presentations/quantum-coin-toss-presentation.pdf" target="_blank"><b>Quantum coin toss</b></a
    >: A "practice" <a href="/assets/documents/reports/quantum-coin-toss-proposal.pdf" target="_blank">proposal</a>,
    <a href="/assets/documents/reports/quantum-coin-toss-report.pdf" target="_blank">report</a>, and
    <a href="/assets/documents/presentations/quantum-coin-toss-presentation.pdf" target="_blank">presentation</a> detailing
    how you would perform a quantum coin toss using an actual coin!
  </li>

  <li>
    <a href="/assets/documents/reports/the-energy-gap-in-nuclear-matter.pdf" target="_blank"
      ><b>The energy gap in nuclear matter</b></a
    >: An article discussing the energy gap (~1 MeV) between even-even and odd nuclei with a crude
    but lengthy derivation of an equation to estimate the energy gap.
  </li>

  <li>
    <a href="/assets/documents/reports/erbium-doped-fiber-amplifiers.pdf" target="_blank"
      ><b>Erbium doped fiber amplifiers</b></a
    >: A short article explaining why erbium doped fiber amplifiers are used in fiber optic
    communications.
  </li>

  <li>
    <a href="/assets/documents/reports/ultrafast-optical-transistor-paper-review.pdf" target="_blank"
      ><b>Review of a paper on ultrafast optical transistors</b></a
    >: A critical review of a
    <a href="https://doi.org/10.1364/OL.40.004599" target="_blank">paper</a> that appeared in
    <i>Optics Letters</i> detailing the capabilities of a new ultrafast optical transistor.
  </li>

  <li>
    <a href="/assets/documents/reports/Nature-Photonics-paper-review.pdf" target="_blank"
      ><b>Review of a paper on nitrogen-vacancy centers in an optical cavity</b></a
    >: A critical review of a
    <a href="https://doi.org/10.1038/nphoton.2011.52" target="_blank">paper</a> that appeared in
    <i>Nature Photonics</i> reporting on the resonant enhancement of the zero-phonon emission from
    nitrogen-vacancy centers in a single-crystal diamond microring cavity.
  </li>
</ul>

<h3>Code</h3>
<ul class="indented-list">
  <li>
    <a href="https://github.com/project-lovelace?type=source" target="_blank"
      ><b>Project Lovelace</b></a
    >: Code for <a href="https://projectlovelace.net/" target="_blank">projectlovelace.net</a>. A
    website with scientific programming problems with automatic judging of submissions.
    <ul class="indented-list" style="margin-bottom: 0">
      <li>
        <a href="https://github.com/project-lovelace/lovelace-website" target="_blank"
          ><b>Website</b></a
        >: Backend written in Python using Django. Frontend built with HTML, CSS, and Javascript
        using the Bulma CSS framework.
      </li>
      <li>
        <a href="https://github.com/project-lovelace/lovelace-engine" target="_blank"
          ><b>Engine</b></a
        >: Automated, secure testing of code submissions in Python, Javascript, Julia, and C.
      </li>
      <li>
        <a href="https://github.com/project-lovelace/lovelace-problems" target="_blank"
          ><b>Problems</b></a
        >: Modules for generating test cases.
      </li>
    </ul>
  </li>

  <li>
    <a href="https://github.com/ali-ramadhan/DocumenterCitations.jl" target="_blank"
      ><b>DocumenterCitations.jl</b></a
    >: Add BibTeX citations and bibliographies to documentation for your Julia packages.
  </li>

  <li>
    <a href="https://github.com/ali-ramadhan/Micrograd.jl" target="_blank"><b>Micrograd.jl</b></a
    >: A Julia implementation of Andrej Karpathy's
    <a href="https://github.com/karpathy/micrograd" target="_blank">micrograd</a>, a tiny automatic
    differentiation package built from scratch.
  </li>

  <li>
    <a href="https://github.com/ali-ramadhan/location-history-cartopy" target="_blank"
      ><b>Plotting location history using Python and Cartopy</b></a
    >: Produce pretty maps of where you've been using location history data. Great for visualizing
    motorcycle road trips.
  </li>
</ul>

<h3>Misc.</h3>
<ul class="indented-list">
  <li>
    <a href="https://news.ycombinator.com/item?id=26843339" target="_blank"
      ><b>Project Lovelace on Hacker News</b></a
    >
  </li>
  <li>
    <a href="https://github.com/ali-ramadhan/music-tagging" target="_blank"
      ><b>Configuration file for beets</b></a
    >: If you're also picky enough about tagging your music files to use
    <a href="https://github.com/beetbox/beets" target="_blank">beets</a>.
  </li>
  <li>
    <a href="https://github.com/ali-ramadhan/moe-plugins" target="_blank"
      ><b>Moe music tagging plugins</b></a
    >: Some music tagging plugins for
    <a href="https://github.com/MoeMusic/Moe" target="_blank">Moe</a>, a more modern and flexible
    alternative to beets.
  </li>
</ul>
