<div id="header">
  <div class="top">
    <div id="logo">
      {% if page.show_profile_picture %}
        <img id="personal-photo" src="/img/Ali-Ramadhan.jpg" alt="Personal photo" />
      {% endif %}
      <h1 id="title"><a href="/">Ali Ramadhan</a></h1>
    </div>

    <nav id="nav">
      <ul>
        <li><a href="/#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About</span></a></li>
        <li><a href="/#blog" id="blog-link" class="skel-layers-ignoreHref"><span class="icon fa-pencil">Blog</span></a></li>
        <li><a href="/#research" id="research-link" class="skel-layers-ignoreHref"><span class="icon fa-flask">Research</span></a></li>
        <li><a href="/#publications" id="publications-link" class="skel-layers-ignoreHref"><span class="icon fa-book">Publications</span></a></li>
        <li><a href="/#resources" id="resources-link" class="skel-layers-ignoreHref"><span class="icon fa-cutlery">Resources</span></a></li>
      </ul>

      <br>

      <h1>Links</h1>
      <ul>
        <li><a target="_blank" href="/files/Ali-Ramadhan-resume-CV.pdf"><span class="icon fa-cube">Resume / CV</span></a></li>
        <li><a target="_blank" href="mailto:ali.hh.ramadhan@gmail.com"><span class="icon fa-envelope">Email</span></a></li>
        <li><a target="_blank" href="https://github.com/ali-ramadhan"><span class="icon fa-github">Github</span></a></li>
        <li><a target="_blank" href="https://scholar.google.com/citations?user=a47O4mMAAAAJ&hl=en"><span class="icon fa-google">Google Scholar</span></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/ali-ramadhan"><span class="icon fa-linkedin">LinkedIn</span></a></li>
        <li><a target="_blank" href="https://www.youtube.com/channel/UCbtbDB5yzerMj2FJGx3HxEA"><span class="icon fa-youtube">YouTube</span></a></li>
      </ul>
    </nav>
  </div>
</div>
