.post-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5em;
}

.post-date {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5em;
}

h1, h2 {
    margin-top: 1em;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #444444;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #444444;
}

p {
    margin: 0.5em 0;
}

.post-body ol, .post-body ul {
    margin-left: 1em;
}

#main > section {
    background-color: white;
    background-image: none;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toc-list {
    list-style-type: decimal;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.toc-list > li {
    margin-left: 1em;
}

.toc-sublist {
    list-style-type: lower-alpha;
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.toc-sublist > li {
    margin-left: 1em;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-80 {
    width: 80%;
}

figure > p {
    margin: 0;
    padding: 0;
}

figure > p > img {
    display: block;
}

figure > figcaption {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.5em;
}

/*
 * Code blocks
 */

pre {
    overflow-x: auto; /* add scrollbars to wide code blocks */
}

code {
    position: relative;
    font-family: monospace;
    font-size: inherit;
    line-height: inherit;
    border-radius: 0.3em;
    padding: 2px 6px;
    background: rgba(169, 169, 169, 0.4);
}

pre code.hljs {
    position: relative;
    font-family: monospace;
    font-size: inherit;
    font-size: 0.8em;
    line-height: 1.4em;
    border-radius: 0.3em;
}

label {
    position: absolute;
    color: lightgray;
    top: 0px;
    right: 0px;
    padding: 2px 4px;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.5em;
    background-color: darkslategray;
    border-bottom-left-radius: .375em;
}
