#video-outer-box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vh;
  height: 52.5vh;
  z-index: 1;
}

#canvas-video-sphere {
  display: block;
  width: 70vh !important;
  height: 52.5vh !important;
}

#video {
  display: none;
  width: 70vh;
  height: 52.5vh;
}

#video-title {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px rgb(0, 0, 0, 0.8);
}

#video-caption {
  text-align: center;
  display: none;
  color: white;
  margin-top: 0.5rem;
  text-shadow: 0 0 5px rgb(0, 0, 0, 0.8);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  color: rgb(255, 255, 255, 0.8);
  user-select: none;
  z-index: 20;
  text-shadow: 0 0 10px rgb(0, 0, 0, 0.8);
  transition: opacity 0.3s ease;
  backdrop-filter: blur(2px);
  padding: 0.5rem;
  border-radius: 50%;
  background: rgb(0, 0, 0, 0.2);
}

.arrow:hover {
  opacity: 0.7;
}

#left-arrow {
  left: 2rem;
}

#right-arrow {
  right: 2rem;
}

#colorbar {
  display: none;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
}

/*
 * dat.gui
 */

.c div input {
  font-size: 100%;
}
